<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Enviar parametros del request HTTP GET - URL</title>
</head>
<body>

<h1> Enviar parametros del request HTTP GET - URL </h1>

<ul>
    <li>
        <a th:href="@{/params/string(texto='Hola Daniel')}"  >  /params/string?texto=Hola Daniel </a>
    </li>
    <li>
        <a th:href="@{/params/string(texto='Que tal Matthew')}"  >  /params/string?texto=Que tal Matthew </a>
    </li>
    <li>
        <a th:href="@{/params/mix-params(saludo='¿Como estas Daniel?', numero=7)}"  >  /params/mix-params?saludo=¿Como estas Daniel?&numero=7 </a>
    </li>
    <li>
        <a th:href="@{/params/mix-params-request(saludo='¿Como estas Daniel?', numero=7)}"  >  /params/mix-params-request?saludo=¿Como estas Daniel?&numero=7 </a>
    </li>
</ul>

</body>
</html>